- name: install based on facts
  hosts: localhost
  connection: local
  tasks:
  - name: Install nginx
    ansible.builtin.dnf:
      name: nginx
      state: latest
    when: ansible_os_family == "RedHat"