- name: loops
  hosts: localhost
  connection: local
  tasks: 
  - name: Install packages
    ansible.builtin.package:
      name: "{{ item.name }}"
      state: "{{ item.state }}"
    loop:
      - { name: 'nginx', state: 'absent'}
      - { name: 'mysql', state: 'absent'}
      - { name: 'zip', state: 'present'}