- name: default variable
  hosts: localhost
  connection: local
  vars:
    technologies: DevOps, Linux, Shell, Ansible
    Name: "Prudhvi M v"
    ipaddress: 192.168.0.1
    lux:  
      Application: payment
      Env: dev
    tags:
    - key: Application
      value: payment
    - key: Environment
      value: dev
  tasks:
  - name : default variable
    ansible.builtin.debug:
      msg: "Hello, {{ name | default('Prudhvi') }}"
  - name: print list from string
    ansible.builtin.debug:
      msg: "Technologies are : {{ technologies | split(',')}}"
  - name: dictionary to list
    ansible.builtin.debug:
      msg: "Tags are {{ lux | dict2items }}"
  - name: list to dictionary
    ansible.builtin.debug:
      msg: "Tags are {{tags | items2dict }}"
  - name: read yaml and take into variable
    ansible.builtin.set_fact:
      students_yaml: "{{ lookup('file', 'students.yaml') | from_yaml }}"
  - name: yaml to json
    ansible.builtin.debug:
      msg: "json: {{ students_yaml | to_json }}"
  - name: Create a JSON file with pretty-printed content
    ansible.builtin.copy:
        content: "{{ students_yaml | to_nice_json }}"
        dest: "/tmp/output.json"
  - name: convert to upper
    ansible.builtin.debug:
      msg: "{{ Name | upper }}"
  - name: convert to upper
    ansible.builtin.debug:
      msg: "{{ Name | lower }}"
  - name: check IP is valid or not
    ansible.builtin.debug: 
      msg: "{{ ipaddress | ansible.utils.ipv4 }}"
  - name: check shell or command module
    ansible.builtin.shell: cat /etc/passwd | grep root
    register: command_output
  - name: print command_output
    ansible.builtin.debug:
      msg: "{{ command_output }}"
  - name: check shell or command module
    ansible.builtin.shell: ls -ltr > /tmp/shell.txt
    register: commands_output
  - name: print
    ansible.builtin.debug: 
      msg: "{{ commands_output }}"